html {
    background-color: #feffec;
    font-family: Arial, sans-serif;
}

h1 {
    color: #333;
    text-align: left;
}
nav {
    color: #fff;
    background-color: #333;
    display: flex;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 10px;
    flex-grow: 1;

}
nav ul li {
    flex-grow: 1;
    text-align: center;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
}
nav ul li a:hover {
    color: #ffcc00;
}
nav form {
    display: inline-block;
    margin-left: 20px;
    align-items: right;
}
main {
    padding: 20px;
}